name: setup-test-lint
on: push

jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
      # Клонируем репозиторий
      - uses: actions/checkout@v4
      
      # Устанавливаем Node.js
      - uses: actions/setup-node@v4
      
      # Ставим зависимости
      - run: make setup
      
      # Запускаем линтер
      - run: make lint
      
      # Запускаем тесты
      - name: run tests
        run: make test

      - name: Print Hello from Hexlet
        uses: hexlet-components/hello-from-hexlet-action@release
